!--------------------xdefauls
URxvt.font: xft:terminus:pixelsize=16
urxvt*termName: rxvt
urxvt*scrollBar: false
urxvt*matcher.button: 1
urxvt.transparent: true
urxvt.boldFont:
URxvt.letterSpace: 0
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
URxvt*cursorUnderline: true
Xft*rgba: rgb
URxvt*geometry: 85x20
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False

! colors
!URxvt*colorDB:		#00ff00
!URxvt*borderColor:    	#ff0000

! keys
!URxvt.perl-ext-common: 	default,clipboard
!URxvt.keysym.C-S-c:	perl:clipboard:copy
!URxvt.keysym.C-S-v:	perl:clipboard:paste
!URxvt.keysym.M-C-v:	perl:clipboard:paste_escaped

! borders
!URxvt*externalBorder: 12
URxvt*internalBorder: 12
URxvt*borderLess:     false

! special
*.foreground:   #c5c8c6
*.background:   #1f1f1f
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a85377
*.color9:       #a85377

! green
*.color2:       #746f81
*.color10:      #746f81

! yellow
*.color3:       #545670
*.color11:      #545670

! cian
*.color4:       #330033
*.color12:      #330033
! *.color4:       #6a9bb9
! *.color12:      #6a9bb9

! magenta
*.color5:       #764970
*.color13:      #764970

! cyan
*.color6:       #abb9ba
*.color14:      #abb9ba

! white
*.color7:       #899298
*.color15:      #899298
